.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  position: relative;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 1.8rem;
  color: var(--primary-text);
}

.close:hover {
  cursor: pointer;
}

.zoom-card {
  width: 50vw;
  height: 80vh;
  border-radius: 20px;
  overflow: hidden;
}

.zoom-card img {
  width: 100%;
  height: 100%;
}
