.content {
  display: flex;
  background-color: var(--dark-purple);
  color: white;
  padding: 2rem 0 2rem 0;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.block {
  display: flex;
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: var(--button-box-shadow);
  border: none;
  display: flex;
  flex-direction: column;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.03);
  filter: brightness(1.1);
}

.icon {
  color: var(--purple);
  font-size: clamp(30px, 2.5vw, 40px);
}

.flex:hover {
  background-color: var(--light-green);
}

.title {
  font-size: var(--header-size);
}

.text {
  font-size: var(--subtitle-size);
  font-weight: 300;
  font-family: var(--alternate-font);
  line-height: 2.5rem;
}

@media (max-width: 600px) {
  .body {
    padding-top: 2rem;
  }
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
