.container {
  display: flex;
  background-color: var(--purple);
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  padding: 0.5rem;
}

.container::before {
  content: "";
  background: var(--purple);
  position: absolute;
  top: -3rem;
  height: 3rem;
  width: 100%;
  --mask: radial-gradient(44.72px at 50% 60px, #000 99%, #0000 101%)
      calc(50% - 40px) 0/80px 100%,
    radial-gradient(44.72px at 50% -40px, #0000 99%, #000 101%) 50% 20px/80px
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
/* .container::after {
  content: "";
  background: var(--purple);
  width: 100%;
  position: absolute;
  bottom: -3rem;
  height: 3rem;
  --mask: radial-gradient(
        44.72px at 50% calc(100% - 60px),
        #000 99%,
        #0000 101%
      )
      calc(50% - 40px) 0/80px 100%,
    radial-gradient(44.72px at 50% calc(100% + 40px), #0000 99%, #000 101%) 50%
      calc(100% - 20px) / 80px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
} */

.image {
  position: absolute;
  width: 100%;
  height: calc(100% + 6rem);
  opacity: 0.2;
}

.title {
  font-weight: bolder;
  font-size: var(--header-size);
}

.text {
  font-size: var(--subtitle-size);
  font-weight: 300;
  line-height: 2rem;
}

@media (max-width: 800px) {
  .title {
    padding-top: 2rem;
  }
  .container {
    flex-direction: column;
  }

  .text {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: var(--alternate-font);
  }
}
