.content {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  gap: 1rem;
  width: 80%;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    flex-direction: column;
    padding: 0.5rem;
  }
}
