.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  width: clamp(300px, 100%, 1400px);
}

@media (max-width: 600px) {
  .container {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
  }
}
