.container {
  display: flex;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  background-color: var(--light-green);
  overflow: hidden;
  position: relative;
}

.icon {
  font-size: 35px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 5;
  stroke: black;
  stroke-width: 10;
}

.image {
  width: 100%;
  object-fit: cover;
  transition: all var(--speed);
}

.root {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.overlay {
  display: flex;
  justify-content: center;
  color: white;
  opacity: 0;
  background-color: var(--dark-grey);
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all var(--speed);
}

.text-container {
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.text {
  font-size: var(--text-size);
  line-height: 1.6rem;
}

.container:hover {
  .overlay {
    opacity: 1;
    cursor: pointer;
  }

  .image {
    opacity: 0;
    transform: scale(1.1);
  }
}

@media (max-width: 600px) {
  .block {
    width: 100%;
  }
}
