.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 4rem;
  background: var(--purple);
  --mask: radial-gradient(44.72px at 50% 60px, #000 99%, #0000 101%)
      calc(50% - 40px) 0/80px 51% repeat-x,
    radial-gradient(44.72px at 50% -40px, #0000 99%, #000 101%) 50% 20px/80px
      calc(51% - 20px) repeat-x,
    radial-gradient(44.72px at 50% calc(100% - 60px), #000 99%, #0000 101%)
      calc(50% - 40px) 100%/80px 51% repeat-x,
    radial-gradient(44.72px at 50% calc(100% + 40px), #0000 99%, #000 101%) 50%
      calc(100% - 20px) / 80px calc(51% - 20px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.heading {
  font-size: var(--header-size);
  color: white;
  font-weight: 900;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: var(--purple);
  padding: 0.5rem 2rem 0.5rem 2rem;
  gap: 1rem;
  font-size: var(--subtitle-size);
  transition: all var(--fast-speed);
  text-align: center;
  border: none;
}

.button:hover {
  background-color: white;
  color: var(--dark-purple);
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  width: 90%;
  padding: 2rem;
}

.text {
  font-size: var(--title-size);
  font-weight: 400;
  padding: 1rem;
  border-bottom: 1px solid rgba(145, 140, 140, 0.7);
}

.link {
  padding-left: 0.5rem;
  background-color: inherit;
  border: none;
  font-size: var(--title-size);
  color: var(--blue);
  font-weight: 800;
}

.link:hover {
  color: darkblue;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  margin-top: 2rem;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .flex {
    font-size: 1rem;
  }
}
